@{
    Layout = null;
    ViewBag.Title = "NotFound";
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>404 | Abet Admin Template</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")">

    <!-- Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/animsition/animsition.min09a2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/asscrollable/asScrollable.min09a2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/switchery/switchery.min09a2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/intro-js/introjs.min09a2.css")" )">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/flag-icon-css/flag-icon.min09a2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/slidepanel/slidePanel.min09a2.css")">

    <!-- Page -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/examples/css/pages/errors.min.css")">

    <!-- Fonts -->
    <link href="@Url.Content("~/Content/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/fonts/material-design/css/materialdesignicons.min.css")" rel="stylesheet">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700'>

    <!-- Scripts -->
    <script src="@Url.Content("~/Content/vendor/modernizr/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/breakpoints/breakpoints.min.js")"></script>
    <script>Breakpoints();</script>

</head>
<body class="page-error page-error-404 layout-full">

    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">505</h1>
                <p>Page Not Found !</p>
            </header>
            <p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
            <a class="btn btn-primary btn-round" href="../index.html">GO TO HOME PAGE</a>

            <footer class="page-copyright">
                <p>©2016 EISC, Comité de Acreditación UPC</p>
            </footer>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="@Url.Content("~/Content/vendor/jquery/jquery.min.js")" )"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/animsition/animsition.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asscroll/jquery-asScroll.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/mousewheel/jquery.mousewheel.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asscrollable/jquery.asScrollable.all.min.js")"></script>

    <!-- Plugins -->
    <script src="@Url.Content("~/Content/vendor/switchery/switchery.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/intro-js/intro.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/screenfull/screenfull.min.js")"></script>

    <!-- Scripts -->
    <script src="@Url.Content("~/Content/js/core.min.js")"></script>
    <script src="@Url.Content("~/Content/js/site.min.js")"></script>

    <script src="@Url.Content("~/Content/js/components/asscrollable.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/animsition.min.js")"></script>

    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

</body>

</html>